@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kdam+Thmor+Pro&family=Orbitron:wght@400..900&display=swap');

.hero {
    height: 300px;
    background-image: url(images/DSC_0227-2.jpg);
    background-size: cover;
    text-shadow: black;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: larger;
}

.hero button {
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: inset;
    color: aliceblue;
    background-color: black;
}

.hero button:hover {
    
    color: black;
}
